
.bg-image {
  height: 100vh;
  padding: 0;
  margin: 0;
  background-image: url(../images/bg-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  line-height: 1.6;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

li {
  list-style: none;
}

/* Home */
nav {
  display: flex;
  justify-content: space-between;
  background-color: #e4e4e4;
}

.nav-logo {
  padding: 0.7rem 0 0 3rem;
}

.nav-logo h1 {
  color: #044343;
}

.nav-list {
  display: flex;
  margin-right: 1rem;
}

.nav-items {
  padding: 1rem;
  font-weight: bold;
}

.nav-items a {
  color: #044343;
  cursor: pointer;
}

.nav-items a:hover {
  color: red;
}

.bg-image {
  padding: 15% 0 0 4%;
  background: linear-gradient(to left, rgba(5, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/bg-image2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
}

.bg-image h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: #fff;
  max-width: 900px; ;
}

.bg-image p {
  margin-bottom: 2rem;
  color: #fff;
}

.bg-image button {
  padding: 1rem;
}

.bg-image a {
  color: red;
  font-weight: bold;
  cursor: pointer;
}

/* menu */
.menu-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 1rem;
  margin: 3rem auto;
  width: 80%;
}

.menu-card {
  width: 330px;
  height: 358px;
}

.menu-img-1,
.menu-img-2,
.menu-img-3,
.menu-img-4,
.menu-img-5,
.menu-img-6 {
  height: 65%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.menu-img-1 {
  background-image: url('../images/egg-sauce.png');
}

.menu-img-2 {
  background-image: url('../images/Afang-soup-10-1024x683.jpg');
}

.menu-img-3 {
  background-image: url('../images/egusi-soup-recipe-500x500.jpg');
}

.menu-img-4 {
  background-image: url('../images/unnamed.jpg');
}

.menu-img-5 {
  background-image: url('../images/1_9seqF_iHxsDsH3W9B0yGig@2x.jpeg');
}

.menu-img-6 {
  background-image: url('../images/Banku.jpg');
}
/* contact */
.contact-container {
  text-align: center;
}

.contact-container h2,
.menu-header {
  font-size: 3rem;
  font-weight: bold;
  color: #044343;
}

.menu-header {
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group input {
  width: 30%;
  padding: 1rem;
}

.form-group textarea {
  width: 50%;
}

.form-group .message {
  padding-bottom: 10%;
}